@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #09090b;
    color: #f4f4f5;
  }
}

/* Custom scrollbar styling to fit the Obsidian Dark Theme */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #09090b;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f59e0b;
}

/* Custom Force Graph panel stylings */
.force-graph-container canvas {
  display: block;
}
